/* Estilos base para todo el cuerpo del documento */
body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
	color: #333;
}

/* Estilos para el contenedor principal */
.container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: 20px;
	height: 100vh;
}

/* Estilos para el contenedor del mapa */
.map-container {
	flex: 1;
	height: 100%;
	margin-right: 20px;
}

/* Estilos para el contenedor de formularios y tablas */
.formularios-tablas {
	flex: 1;
	padding: 20px;
	overflow-y: auto;
	height: 100%;
}

h1 {
	color: #4a90e2;
	font-size: 2em;
	text-align: center;
	margin-bottom: 20px;
}

h2 {
	color: #4a4a4a;
	margin-top: 20px;
}


.form-group {
	margin-bottom: 15px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	color: #555;
}

/* Estilos consistentes para entradas y botones */
.form-group input, .form-group button {
	width: calc(100% - 20px); /* Calcula el ancho menos el padding para consistencia */
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 1em;
}

.form-group input:focus {
	border-color: #4a90e2;
	outline: none;
	box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.form-group button {
	width: 100%;
	background-color: #5cb85c;
	color: white;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.1s;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;

}

.form-group button:hover {
	background-color: #4cae4c;
	transform: scale(1.02);
}

.form-group button:active {
	background-color: #3e8e41;
	transform: scale(0.98);
}

.form-group-choose {
	display: flex;
	justify-content: space-around; /* Espacio distribuido uniformemente */
	align-items: center;
	padding: 0;
}

.form-group-choose button {
	background-color: #4CAF50; /* Color de fondo verde */
	color: white; /* Texto blanco */
	border: none; /* Sin bordes */
	cursor: pointer; /* Cursor en forma de mano */
	font-size: 16px; /* Tamaño del texto */
	transition: background-color 0.3s, transform 0.3s;
	flex: 1; /* Cada botón crece igualmente */
	margin: 0 10px; /* Espaciado simétrico */
	padding: 10px 10px;
	border-radius: 5px;
}

.form-group-choose button:hover {
	background-color: #45a049; /* Color más oscuro al pasar el mouse */
	transform: scale(1.05); /* Escala ligeramente más grande al pasar el mouse */
}

.form-group-choose button:active {
	background-color: #3e8e41; /* Color aún más oscuro al hacer clic */
	transform: scale(0.95); /* Escala ligeramente más pequeña al hacer clic */
}

.form-group-choose button:focus {
	outline: none; /* Eliminar el contorno al enfocar */
}


table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

table, th, td {
	border: 1px solid #ddd;
}

th, td {
	padding: 12px 15px;
	text-align: left;
}

th {
	background-color: #f0f0f0;
	font-weight: bold;
	color: #333;
}

tr:nth-child(even) {
	background-color: #f9f9f9;
}

@media screen and (max-width: 768px) {
	.container {
		flex-direction: column; /* Cambio a disposición en columna */
		align-items: center; /* Centrar los elementos horizontalmente */
	}

	.map-container, .formularios-tablas {
		width: 100%; /* Ancho completo para cada sección */
		height: auto; /* Altura automática para cada sección */
		margin-right: 0; /* Quitar margen derecho */
	}

	.formularios-tablas {
		padding: 10px; /* Padding ajustado */
	}
}

/* Media queries para celulares */
@media screen and (max-width: 480px) {
	body {
		font-size: 14px; /* Tamaño de fuente más pequeño */
	}

	h1 {
		font-size: 1.5em; /* Tamaño de fuente más pequeño para h1 */
	}

	.container {
		margin: 10px; /* Margen más pequeño */
		align-items: center; /* Centrar los elementos horizontalmente */
	}

	.form-group input, .form-group button {
		padding: 8px 8px; /* Padding más pequeño */
		font-size: 0.9em; /* Tamaño de fuente más pequeño */
	}

	.form-group button {
		width: 100%; /* Ancho más pequeño */
	}

	.form-group-choose button {
		padding: 8px 15px; /* Padding más pequeño */
		font-size: 14px; /* Tamaño de fuente más pequeño */
	}

	.form-group label, th, td {
		font-size: 0.8em; /* Tamaño de fuente más pequeño */
	}

	.formularios-tablas {
		width: 100%; /* Ancho completo */
		margin-bottom: 10px; /* Margen inferior para separar secciones */
		padding: 10px; /* Padding ajustado */
	}

	.map-container {
		margin-bottom: 10px; /* Margen inferior para el mapa */
	}
}
